body {
  background-image: url("/img/new_background_1.png");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;

}

.page {
  display: flex;
  justify-content: space-around;
}

#left-column {
  border: 3px solid green;
  display: flex;
  flex-direction: column;
}

.orar-name {
  width: 300px;
  height: 60px;
  border: 2px solid yellow;
  background-color: white;
  text-align: center;
  font-size: 16px;
  margin-left: 15%;
  margin-bottom: 20px;;
}


.div-buttons {
  border: 2px solid red;
  display: flex;
  justify-content: space-around;

}

.buttons{
  width: auto;
  height: 38px;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 16px;
}

input {
  margin: 5px;
  height: 40px;
  padding-left: 40px;
}


.grupe {
  background-color: white;
  margin: 5px;
  height: 40px;
  width: auto;
  align-items: center;
}

.days {
  background-color: white;
  margin: 5px;
  height: 40px;
  width: auto;
}

.data {
  background-color: white;
  margin: 5px;
  height: 40px;
  width: auto;

}

.month {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto auto;
  margin-top: 20px;
  background-color:white;
}

.m-day {
  border: 1px solid black;
  width: 50px;
  height: 30px;
}

.days {
  display: grid;
  grid-template-columns: auto auto;
}



#right-column{
  border: 2px solid red;
}